<% layout('/layouts/boilerplate') -%>

    <div class="row mt-3">

        <div class="col-8 offset-2">
            <h3>Create a new listing</h3>
            <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
                <div>
                    <label for="title" class="form-label">Title</label>
                    <input required type="text" name="listing[title]" placeholder="Enter Title" class="form-control">
                    <div class="invalid-feedback">Enter title </div>

                </div>
                <br>
                <div>
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" name="listing[description]" placeholder="Enter description"
                        class="form-control" required></textarea>
                    <div class="invalid-feedback">Please provide a description</div>
                </div>
                <br>

                <div>
                    <label for="image" class="form-label">Upload Image</label>
                    <input type="file" name="listing[image]" class="form-control">

                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="text" name="listing[price]" placeholder="Enter price in &#8377;."
                            class="form-control" required>
                        <div class="invalid-feedback">Enter a valid price</div>

                    </div>
                    <br>
                    <div class="col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input required type="text" name="listing[country]" placeholder="Enter country"
                            class="form-control">
                        <div class="invalid-feedback">Enter the Country name</div>
                    </div>
                </div>


                <br>
                <div>
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" placeholder="Enter location" class="form-control"
                        required>
                    <div class="invalid-feedback">Enter the Location</div>
                </div>

                <br>
                <div class="form-floating">
                    <select name="listing[category]" class="form-select">
                        <option value="Trending">Trending</option>
                        <option value="Rooms">Rooms</option>
                        <option value="Iconic Cities">Iconic Cities</option>
                        <option value="Mountains">Mountains</option>
                        <option value="Amazing Polls">Amazing Polls</option>
                        <option value="Camping">Camping</option>
                        <option value="Farms">Farms</option>
                        <option value="Arctic">Arctic</option>
                        <option value="Dome">Dome</option>
                        <option value="Ship">Ship</option>

                    </select>
                </div>



                <br>


                <button class="btn btn-dark add-btn">Add</button>

            </form>
            <br><br>
        </div>
    </div>